[project]
	description = Set of plug-ins that allows you to use myGengo services (human-translation) directly from the admin interface of Textpattern, Frog CMS, WordPress, Joomla!, and NucleusCMS.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuki Yugui Sonoda (yugui)
[access "refs/for/refs/*"]
	read = group user/Yuki Yugui Sonoda (yugui)
	push = group user/Yuki Yugui Sonoda (yugui)
	label-Code-Review = -2..+2 group user/Yuki Yugui Sonoda (yugui)
	label-Verified = -1..+1 group user/Yuki Yugui Sonoda (yugui)
	rebase = group user/Yuki Yugui Sonoda (yugui)
	removeReviewer = group user/Yuki Yugui Sonoda (yugui)
	submit = group user/Yuki Yugui Sonoda (yugui)
[access "refs/heads/*"]
	read = group user/Yuki Yugui Sonoda (yugui)
	create = group user/Yuki Yugui Sonoda (yugui)
	push = +force group user/Yuki Yugui Sonoda (yugui)
	pushMerge = group user/Yuki Yugui Sonoda (yugui)
[access "refs/tags/*"]
	push = +force group user/Yuki Yugui Sonoda (yugui)
	pushTag = group user/Yuki Yugui Sonoda (yugui)
	pushSignedTag = group user/Yuki Yugui Sonoda (yugui)
